.poster
    display: flex
    justify-content: center
    padding: 5px

.card-image
    display: flex
    justify-content: center
    padding: 5px

.column
    width: 33%

.nav-wrapper
    height: 150px

nav 
  height: 150px

.overlay
    position: relative
    z-index: 2

.description 
    background-color: white
    opacity: .65
    visibility: visible
    display: block
    text-align: center

.description:hover
    visibility: visible
    opacity: .75


.description
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    color: black
    z-index: 999
    opacity: 0
    
