.header
    background-color: black
    
table
    display: block
    height: 100px
    padding-left: 16px

    td
        width: 8px
    
    h3
        font-size: 22px
        color: white
        width: 200px
        
body
    background-color: $background
    color: white

.searchbar
    font-size: 22px
    display: block
    padding: 5px 10px 